body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  text-align: center;
}
a, a:after {
  text-decoration: none;
  color: #0000ff;
}
main {
  padding: 20px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}
img {
	max-width: 250px;
	width: 60%;
	border-radius: 30%;
}
