@import "normalize.css";
@import "misc.css";
@import "vex.css";
@import "vex-theme.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* fonts */

h1,
h3,
h4,
h6 {
    margin: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    color: black;
}

h3 {
    font-size: 18px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width: 767px) {
    h1 {
        font-size: 24px;
    }
}


/* end fonts*/


/* colours */

.white {
    color: #eee;
}

.text-left {
    text-align: center;
}


/* end colors */

body,
html {
    position: relative;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}


/* general */

#bodyWrapper {
    width: 100vw;
    min-height: 100vh;
}


/* end general
/* sidebar */

#sidebar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

#hamburger {
    position: fixed;
    top: 2vh;
    left: 2vw;
    display: none;
    opacity: 0;
    width: 20px;
    z-index: 10;
    transition: 0.5s;
}

#nav {
    position: absolute;
    right: 10px;
}

#navList {
    text-align: right;
    list-style: none;
}

#navList a:hover {
    cursor: pointer;
    color: skyblue;
    text-decoration: none;
    opacity: 0.8;
}

#footer {
    position: absolute;
    bottom: 3vh;
    right: 10px;
    align-self: flex-end;
    min-width: 100px;
    margin: auto;
    text-align: right;
}

#footer h5 {
    margin: 1vh auto;
}

#copyright {
    position: absolute;
    bottom: 0.5vh;
    align-self: flex-end;
    width: 100%;
    text-align: center;
}


/* end sidebar */


/* slide general */

.slide {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    width: calc(100% - 150px);
    min-height: 100vh;
    opacity: 0.95;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

#work.hidden,
#resume.hidden {
    right: -90%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    height: 0;
    overflow: hidden;
}

.fullHeight {
    min-height: 100vh;
}

.centerWrapper {
    border-left: transparent solid 30px;
    border-right: transparent solid 30px;
    margin: 0 auto;
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-bullet {
    list-style: none;
}


/* end slide general */


/* home */

#home {
    background-color: #000;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/home.jpg');
}

#home.hidden {
    filter: brightness(25%);
}

.textbox {
    width: 90%;
    max-width: 600px;
    padding: 25px;
}

.textbox a {
    cursor: pointer;
    color: skyblue;
}


/* end home */


/* work */

#work {
    background-color: skyblue;
}

#project-flow {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh;
}

.project {
    margin: 2vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project img {
    width: 50%;
    margin-bottom: 40px;
}

.more-link {
    margin-top: auto;
}


/* end work */


/* resume */

#resume {
    background-color: #fff;
}

.title {
    min-width: 100px;
    width: 60vw;
    max-width: 700px;
    margin: 2vh auto 0 auto;
    align-self: flex-start;
    text-align: center;
}

.button {
    text-decoration: none;
    border: solid black 2px;
    background-color: transparent;
    width: 120px;
    position: relative;
    left: calc(50% - 60px);
    padding: 1vh 1vw;
    text-align: center;
    margin-bottom: 2vh;
}

.button a {
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(3, 3, 3, 0.4);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* Media Queries */

@media(max-width: 767px) {
    #sidebar {
        left: -150px;
    }
    #sidebar.active {
        left: 0;
    }
    #hamburger {
        display: block;
        opacity: 1;
    }
    #hamburger.active {
        left: 120px;
    }
    .slide {
        width: 100%;
        background-position: center;
    }
}
